@import "reset";
@import "mixins";
@import "navbar";
@import "slider";
@import "text";

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400&subset=latin-ext");

$yell: #ffea46;

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	background: rgb(240, 240, 240);
	color: rgb(65, 65, 65);
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: rgb(128, 128, 128);
}

button:focus {
	outline: 0;
}

main.main_container {
	background: rgb(80, 80, 80);

	display: grid;
	grid-template-columns: 50% 50%;
	grid-auto-rows: minmax(min-content, max-content);
	grid-template-areas:
		"proj-static proj-right"
		"about-text about-static"
		"testy-static testy-text"
		"contact-form contact-static";

	.cell img {
		width: 100%;
		height: 100%;
		overflow: hidden;
		object-fit: cover;
		display: block;
	}
}

// Titles
.cell {
	position: relative;

	.title-container {
		display: inline-block;
		position: absolute;
	}

}

// break point: 768px



// 0.496
.proj-static {
	grid-area: proj-static;
	background: rgb(255, 79, 79);
}

// --> Project Right Side
.proj-right {
	grid-area: proj-right;
	display: block;

	.top-img,
	.bottom-img {
		height: 50%;
	}
}

.about-text {
	grid-area: about-text;
}

.about-static {
	grid-area: about-static;
	background: rgb(0, 255, 13);
}

.testy-static {
	grid-area: testy-static;
}

.testy-text {
	grid-area: testy-text;
}

.contact-form {
	grid-area: contact-form;
}

.contact-static {
	grid-area: contact-static;
}



.list-nav button {}

#proj-right-wrap {
	position: relative;

}



.list-nav {
	position: absolute;
	z-index: 510;
	right: 30px;
	top: 50%;


	.button,
	button {
		display: inline-block;
		position: relative;
		transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
		appearance: none;
		margin: 0;
		padding: 0;
		width: 55px;
		height: 55px;
		border: 1px solid #fff;
		background-color: transparent;
		cursor: pointer;
		transform: translateY(-50%);

		&:hover {
			border: 1px solid $yell;
			background-color: $yell
		}
	}

	.right:before {
		transform: translateX(-75%) translateY(-50%) rotate(-45deg);
	}

	.button:before,
	button:before {
		position: absolute;
		content: "";
		width: 20px;
		height: 20px;
		border: 1px solid #fff;
		border-width: 0 1px 1px 0;
	}


	.cta {
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 501;
		display: inline-block;
		line-height: 1.3;
	}

}


// Masking

.project-mask {
	transform: matrix(1, 0, 0, 1, -832, 0);
}

.project-mask-inner {

	transform: skew(-29.7449deg);
	transform-origin: 0 100%;
	height: 100%;
	width: 100%;
	background-color: $yell;
}